*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(223, 218, 218, 0.889);
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
    padding-top: 7px;
    margin-left: 5px;
}
.logo{
    background-image: url('Amazon-Logo-Download-PNG-Image.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
.border{
    border: 1.5px solid transparent;
    cursor: pointer;
}
.border:hover{
    border: 2px solid white;
}

/**box2**/
.nav-address{
    padding: 10px;
}
.add-first{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
}

.add-second{
    font-size: 0.9rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}


/**box3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    height: 40px;
    width: 900px;
    border-radius: 4px;
}
.search-select{
    background-color: #e4e4e4;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 1rem;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.nav-search:hover{
    border: 2px solid orange;
}

/**box4**/
.nav-language{
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 15px;
}
.country-icon{
    height: 20px;
}
.nav-language p{
    font-weight: 550;
    font-size: 0.9rem;
}

/**box5**/
.nav-signin{
    padding: 10px;
}
.nav-first{
    font-size: 0.75rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-return{
    padding: 10px;
}

/**box6**/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 10px;
}

/**panel**/
.panel{
    height: 39px;
    background-color: #222f3b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
}
.panel-option {
    width: 82%;
    font-size: 0.89rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    width: 13%;
    display: flex;
    justify-content: center;
}
.panel-deals:hover {
    padding: 9px 5px;

}
.panel-all{
    padding: 10px;
}
.panel-option .border{
    padding: 10px 5px;
}

/** hero section **/
.hero-section{
    background-image: url('hero-image.jpg');
    height: 320px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 7px;
}
.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;    
    width: 97.5%;
    margin-bottom: 25px;
}
.hero-message a {
    color: #007185;
    text-decoration: none;
}
.hero-message a:hover {
    color: rgb(185, 15, 15);
    text-decoration: underline;
}

/** shop section **/
.shop-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.7rem;
    grid-row-gap: 1.3rem;
    margin-left: 25px;
    margin-right: 12px;
}
.box {
    height: 415px;
    width: 97.5%;
    background-color: white;
}
.box-name{
    padding: 20px 0 0 20px;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.box-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-row-gap: 30px;
    grid-column-gap: 10px; */
    grid-gap: 1.7rem;
    padding: 0 12px 0 18px;
}
.box-items a {
    display: grid;
    flex-direction: column;
    gap: 0.2rem;
}

.box-items a span {
    color: #0f1111;
    font-size: 0.77rem;
}
.remove-underline {
    text-decoration: none;
}

.box-image {
    height: 120px;
    width: 95%;
}
.more-items {
    /* padding-top: 5px; */
    font-size: 0.8rem;
    color: #007185;
}
.more-items:hover {
    color: red;
}
.box4 .box-items {
    display: flex;
    flex-direction: column;
}
.box4-image {
    padding-right: 10px;
    width: 320px;
    height: 300px;
}
.box4-more-items {
    /* padding-top: 2px; */
    font-size: 0.8rem;
    color: rgb(0, 93, 130);
}
.box4-more-items:hover {
    color: red;
}
.box5-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.box5-more-items {
    padding-top: 2.7rem;
    font-size: 0.8rem;
    color: rgb(0, 93, 130);
}
.box-item-top .box-image {
    height: 136px;
}
.box-items-bottom {
    display: flex;
    flex-direction: row;
}
.box-items-bottom .box-image {
    height: 100%;
}

.discount-offer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: red;
}
.discount-para {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.8rem;
}
.offer-para {
    color: white;
    background-color: #cc0c39;
    padding: 5px;
}
.offer-text{
    color: #cc0c39;
    font-weight: 550;
}
.discount-desc{
    color: black;
    font-size: 0.9rem;
}

/** International purchase section **/
.sell-content-section {
    background-color: white;
    height: 280px;
    width: 97%;
    margin-left: 25px;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sell-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.purchase-items-section {
    padding-left: 10px;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.purchase-para {
    font-size: 1.3rem;
    margin-bottom: 8px;
    font-weight: bold;
    margin-left: -5px;
}
.sell-img5 {
    height: 100px;
}
.sell-img7 {
    height: 90px;
}

.section-img1 {
    width: 95%;
    height: 280px;
}

.bottom-image {
    width: 95%;
}

/** Message History Section **/
.message-history-section {
    height: 185px;
    background-color: white;
    margin-top: 20px;
    padding-top: 40px;
}
.line-left-to-right {
    border-color: rgba(255, 255, 255, 0.492);
}

.message-history {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.history-para {
    font-size: 1.2rem;
    color: #444444;
}
.history-info {
    display: flex;
    gap: 44.85em;
    align-items: center;
}
.history-tag {
    width: 72px;
    font-size: 0.65rem;
    font-weight: bold;
    text-decoration: none;
}
.history-info p {
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 530;
}
.line-left-to-right-bottom {
    margin-top: 25px;
    border-color: rgba(255, 255, 255, 0.492);
}

/** Back to top **/
.back-to-top-section {
    height: 45px;
    background-color: #283b53e3;
}
.back-to-top {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}

/** footer section **/

/** footer top **/
.footer-top {
    height: 380px;
    background-color: #232F3e;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.footer-details {
    color: white;
    display: flex;
    column-gap: 6rem;
}
.details-para {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.details-para p {
    font-weight: 600;
}
.details-info {
    color: white;
    font-size: 0.85rem;
    width: 170px;
    text-decoration: none;
}
.details-info:hover {
    text-decoration: underline;
}

.footer-top-down {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

/** Footer Middle **/

.footer-middle {
    height: 120px;
    background-color: #232F3e;

}
.border-middle {
    border-color: rgba(255, 255, 255, 0.103);
}
.middle-content {
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.642);
    display: flex;
    justify-content: center;
}
.middle-amazon-logo {
    height: 32px;
    margin-right: 7rem;
    margin-top: 10px;
}
.middle-country-flag {
    height: 20px;
}
.middle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    margin-right: 7px;
    padding: 5px;
    padding-right: 30px;
    border: 1px solid rgba(255, 255, 255, 0.371);
    border-radius: 3px;
}

/** footer-bottom **/
.footer-bottom {
    height: 450px;
    background-color: #131A22;
    display: flex;
    flex-direction: column;
}

.footer-bottom-top {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 15rem 0 15rem;
    color: white;
}
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
    /* width: 400px; */
}
.footer-column-tag {
    color: #999999;
    font-size: 0.75rem;
    text-decoration: none;
}
.footer-column-tag:hover {
    text-decoration: underline;
    
}

.footer-column-tag p {
    color: #dddddd;
}
.footer-bottom-down {
    display: flex;
    flex-direction: column;
    color: #dddddd;
    align-items: center;
    margin-top: 50px;
    font-size: 0.75rem;
    gap: 0.3rem;
}
.privacy-details {
    display: flex;
    gap: 1rem;
}
.privacy-details a {
    color: white;
    text-decoration: none;
}

/*Responsive*/
@media (max-width: 1024px) {
  .nav-search {
    width: 600px;
  }
  .panel-option {
    width: 75%;
    font-size: 0.8rem;
  }
  .shop-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-bottom-top {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 5rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }
  .nav-search {
    order: 5;
    width: 90%;
  }
  .panel {
    flex-wrap: wrap;
    height: auto;
    padding: 5px;
  }
  .panel-option {
    display: none;
  }
  .hero-section {
    height: 250px;
    margin-left: 0;
  }
  .hero-message {
    width: 90%;
  }
  .shop-section {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
  .sell-content-section {
    width: 94%;
    margin-left: 10px;
    padding: 15px;
  }
  .purchase-items-section {
    overflow-x: auto;
    display: flex;
    gap: 0.7rem;
  }
  .footer-details {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .middle-content {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    gap: 8px;
  }
  .nav-search {
    width: 95%;
  }
  .panel {
    flex-direction: column;
    gap: 5px;
  }
  .shop-section {
    grid-template-columns: 1fr;
  }
  .box {
    width: 95%;
    margin: auto;
  }
  .hero-message p {
    font-size: 0.8rem;
    text-align: center;
  }
  .purchase-items-section img {
    height: 90px;
  }
  .footer-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-column {
    align-items: center;
  }
  .footer-bottom-top {
    flex-direction: column;
    align-items: center;
  }
  .history-info {
    flex-direction: column;
    gap: 10px;
  }
}

/*Hide overflow images*/
@media (max-width: 1024px) {
  .purchase-items-section a:nth-last-child(-n+1) {
    display: none; /* hides last image */
  }
}

@media (max-width: 768px) {
  .purchase-items-section a:nth-last-child(-n+2) {
    display: none; /* hides last 2 images */
  }
}

/* For small mobiles */
@media (max-width: 480px) {
  .purchase-items-section a:nth-last-child(-n+3) {
    display: none; /* hides last 3 images */
  }
}
html, body {
  width: 100%;
  overflow-x: hidden;   
}
